body{
	margin:0;
	font-family: 'Lora', serif;
}

#blue-bar-no-use{
	position:fixed;
	top:0px;
	width:100%;
	height:5px;
	background-color: #1E70Ed;
}

#search-box{
	position:fixed;
	top:5px;
	left:0px;
	width: 100%;
	background-color:#F1F1F1;
	padding:2%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1)
}

#search-input{
	display: inline-block;
	width:50%;
	margin:auto;
	border:0;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.4);
	padding:0.5% 0.5% 0.5% 1.5%;
	color:#606060;
	margin-left: 10%;
}

#search-button{
	display: inline-block;
	background-color: #1E70Ed;
	border: 0;
	border-radius: 0;
	color:white;
	padding:0.45%;
	margin-left: -5px;
}
#search-button:hover{
	cursor:pointer;
}


#about-us-button{
	float:right;
	margin-right: 15%;
	text-decoration: none;
	color:#1E70Ed;
	font-size: 90%;
	margin-top: 0.5%;
}

#result-box{
	border:1px solid black;
	width:80%;
	height:10px;
	display: inline-block;
	margin-top:8%;
	margin-left: 10%
}

#raw_json{
	display: inline-block;
}